*.pem
*.tsbuildinfo
.DS_Store
.env*.local
.env.local
.expo/
.pnp.*
.pnpm-debug.log*
.vercel
.yarn/*
.next/
/node_modules/
/out/
app.zip
next-env.d.ts
npm-debug.log*
src.zip
yarn-debug.log*
yarn-error.log*
mobile/.expo/
mobile/node_modules/
mobile/android/
mobile/prompts/
mobile/.npm/
.env
node_modules_old/
